# Python project

backend/__pycache__/
backend/*.py[cod]
backend/env/
backend/.env
backend/.venv
backend/venv/
backend/build/
backend/dist/
backend/*.egg-info/
backend/.idea/
backend/.vscode/
backend/.pytest_cache/
backend/.mypy_cache/
backend/.coverage
backend/coverage.xml
backend/.DS_Store
backend/.pylint.d/
backend/.tox/
backend/.nox/
backend/.ipynb_checkpoints/
backend/.ruff_cache/
backend/.mypy_cache/
backend/.hypothesis/
backend/.pytest_cache/
backend/.coverage
backend/coverage.xml
backend/htmlcov/
backend/.pyre/
backend/.pytype/
backend/.mypy_cache/
backend/.hypothesis/
backend/.pytest_cache/
backend/.coverage
backend/coverage.xml
backend/htmlcov/
backend/.pyre/
backend/.pytype/
backend/face_landmarker.task
backend/dataset/
backend/archive.zip


# Frontend project

frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.DS_Store
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.nuxt/
frontend/.cache/
frontend/.idea/
frontend/.vscode/
frontend/.eslintcache
frontend/.jest/
frontend/.nyc_output/
frontend/coverage/
frontend/build/


.DS_Store
frontend/.DS_Store
backend/.DS_Store